In [1]:
!pip install nba_api

Collecting nba_api
  Downloading nba_api-1.1.9-py3-none-any.whl (242 kB)
Requirement already satisfied: requests in c:\users\jassi\anaconda3\envs\learn-env\lib\site-packages (from nba_api) (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\jassi\anaconda3\envs\learn-env\lib\site-packages (from requests->nba_api) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\jassi\anaconda3\envs\learn-env\lib\site-packages (from requests->nba_api) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jassi\anaconda3\envs\learn-env\lib\site-packages (from requests->nba_api) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\jassi\anaconda3\envs\learn-env\lib\site-packages (from requests->nba_api) (2.10)
Installing collected packages: nba-api
Successfully installed nba-api-1.1.9

In [1]:
from nba_api.stats.endpoints import commonplayerinfo

In [2]:
player_info=commonplayerinfo.CommonPlayerInfo(player_id=2544).get_data_frames()
player_info

[   PERSON_ID FIRST_NAME LAST_NAME DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  \
 0       2544     LeBron     James       LeBron James            James, LeBron

   DISPLAY_FI_LAST   PLAYER_SLUG            BIRTHDATE  \
 0        L. James  lebron-james  1984-12-30T00:00:00

                          SCHOOL COUNTRY  ...    TEAM_CITY    PLAYERCODE  \
 0  St. Vincent-St. Mary HS (OH)     USA  ...  Los Angeles  lebron_james

   FROM_YEAR  TO_YEAR DLEAGUE_FLAG NBA_FLAG GAMES_PLAYED_FLAG DRAFT_YEAR  \
 0      2003     2021            N        Y                 Y       2003

    DRAFT_ROUND DRAFT_NUMBER
 0            1            1

 [1 rows x 32 columns],
    PLAYER_ID   PLAYER_NAME TimeFrame   PTS  AST  REB    PIE
 0       2544  LeBron James   2020-21  25.0  7.8  7.7  0.191,
    SEASON_ID
 0      12003
 1      22003
 2      12004
 3      22004
 4      32004
 ..       ...
 65     22020
 66     32020
 67     42020
 68     52020
 69     12021

 [70 rows x 1 columns]]

In [3]:
commonplayerinfo.CommonPlayerInfo(player_id=2544).player_headline_stats.get_data_frame()

   PLAYER_ID   PLAYER_NAME TimeFrame   PTS  AST  REB    PIE
0       2544  LeBron James   2020-21  25.0  7.8  7.7  0.191

In [5]:
from nba_api.stats.static import players
player_dict=players.get_players()
player_dict

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False},
 {'id': 51,
  'full_name': 'Mahmoud Abdul-Rauf',
  'first_name': 'Mahmoud',
  'last_name': 'Abdul-Rauf',
  'is_active': False},
 {'id': 1505,
  'full_name': 'Tariq Abdul-Wahad',
  'first_name': 'Tariq',
  'last_name': 'Abdul-Wahad',
  'is_active': False},
 {'id': 949,
  'full_name': 'Shareef Abdur-Rahim',
  'first_name': 'Shareef',
  'last_name': 'Abdur-Rahim',
  'is_active': False},
 {'id': 76005,
  'full_name': 'Tom Abernethy',
  'first_name': 'Tom',
  'last_name': 'Abernethy',
  'is_active': False},
 {'id': 76006,
  'full_name': 'Forest Able',
  'first_name': 'Forest',
  'last_name': 'Able',
  'is_active': False},
 {'id': 76007,
  'full_name': 'John Abramovic',
  'first_name': 'John',
  'last_name': 'Abramovic',
  'is_active': False},
 {'id': 203518,
  'full_name': 'Alex Abrines',
  'first_name': 'Alex',
  'last_name': 'Abrines',
  'is_active': False},
 {'id': 101165,
  'full_name': 'Alex Acker',
  'first_name': 'Alex',
  'last_name': 'Acker',
  'is_active': False},
 {'id': 76008,
  'full_name': 'Donald Ackerman',
  'first_name': 'Donald',
  'last_name': 'Ackerman',
  'is_active': False},
 {'id': 76009,
  'full_name': 'Mark Acres',
  'first_name': 'Mark',
  'last_name': 'Acres',
  'is_active': False},
 {'id': 76010,
  'full_name': 'Charles Acton',
  'first_name': 'Charles',
  'last_name': 'Acton',
  'is_active': False},
 {'id': 203112,
  'full_name': 'Quincy Acy',
  'first_name': 'Quincy',
  'last_name': 'Acy',
  'is_active': False},
 {'id': 76011,
  'full_name': 'Alvan Adams',
  'first_name': 'Alvan',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 76012,
  'full_name': 'Don Adams',
  'first_name': 'Don',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 200801,
  'full_name': 'Hassan Adams',
  'first_name': 'Hassan',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 1629121,
  'full_name': 'Jaylen Adams',
  'first_name': 'Jaylen',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 203919,
  'full_name': 'Jordan Adams',
  'first_name': 'Jordan',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 149,
  'full_name': 'Michael Adams',
  'first_name': 'Michael',
  'last_name': 'Adams',
  'is_active': False},
 {'id': 203500,
  'full_name': 'Steven Adams',
  'first_name': 'Steven',
  'last_name': 'Adams',
  'is_active': True},
 {'id': 912,
  'full_name': 'Rafael Addison',
  'first_name': 'Rafael',
  'last_name': 'Addison',
  'is_active': False},
 {'id': 1628389,
  'full_name': 'Bam Adebayo',
  'first_name': 'Bam',
  'last_name': 'Adebayo',
  'is_active': True},
 {'id': 1629061,
  'full_name': 'Deng Adel',
  'first_name': 'Deng',
  'last_name': 'Adel',
  'is_active': False},
 {'id': 76015,
  'full_name': 'Rick Adelman',
  'first_name': 'Rick',
  'last_name': 'Adelman',
  'is_active': False},
 {'id': 202399,
  'full_name': 'Jeff Adrien',
  'first_name': 'Jeff',
  'last_name': 'Adrien',
  'is_active': False},
 {'id': 201167,
  'full_name': 'Arron Afflalo',
  'first_name': 'Arron',
  'last_name': 'Afflalo',
  'is_active': False},
 {'id': 200772,
  'full_name': 'Maurice Ager',
  'first_name': 'Maurice',
  'last_name': 'Ager',
  'is_active': False},
 {'id': 76016,
  'full_name': 'Mark Aguirre',
  'first_name': 'Mark',
  'last_name': 'Aguirre',
  'is_active': False},
 {'id': 201336,
  'full_name': 'Blake Ahearn',
  'first_name': 'Blake',
  'last_name': 'Ahearn',
  'is_active': False},
 {'id': 76017,
  'full_name': 'Danny Ainge',
  'first_name': 'Danny',
  'last_name': 'Ainge',
  'is_active': False},
 {'id': 201582,
  'full_name': 'Alexis Ajinca',
  'first_name': 'Alexis',
  'last_name': 'Ajinca',
  'is_active': False},
 {'id': 76018,
  'full_name': 'Henry Akin',
  'first_name': 'Henry',
  'last_name': 'Akin',
  'is_active': False},
 {'id': 203006,
  'full_name': 'Josh Akognon',
  'first_name': 'Josh',
  'last_name': 'Akognon',
  'is_active': False},
 {'id': 1629152,
  'full_name': 'DeVaughn Akoon-Purcell',
  'first_name': 'DeVaughn',
  'last_name': 'Akoon-Purcell',
  'is_active': False},
 {'id': 202374,
  'full_name': 'Solomon Alabi',
  'first_name': 'Solomon',
  'last_name': 'Alabi',
  'is_active': False},
 {'id': 76019,
  'full_name': 'Mark Alarie',
  'first_name': 'Mark',
  'last_name': 'Alarie',
  'is_active': False},
 {'id': 76020,
  'full_name': 'Gary Alcorn',
  'first_name': 'Gary',
  'last_name': 'Alcorn',
  'is_active': False},
 {'id': 203128,
  'full_name': 'Furkan Aldemir',
  'first_name': 'Furkan',
  'last_name': 'Aldemir',
  'is_active': False},
 {'id': 202332,
  'full_name': 'Cole Aldrich',
  'first_name': 'Cole',
  'last_name': 'Aldrich',
  'is_active': False},
 {'id': 200746,
  'full_name': 'LaMarcus Aldridge',
  'first_name': 'LaMarcus',
  'last_name': 'Aldridge',
  'is_active': True},
 {'id': 76021,
  'full_name': 'Chuck Aleksinas',
  'first_name': 'Chuck',
  'last_name': 'Aleksinas',
  'is_active': False},
 {'id': 1626146,
  'full_name': 'Cliff Alexander',
  'first_name': 'Cliff',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 724,
  'full_name': 'Cory Alexander',
  'first_name': 'Cory',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 2042,
  'full_name': 'Courtney Alexander',
  'first_name': 'Courtney',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 76022,
  'full_name': 'Gary Alexander',
  'first_name': 'Gary',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 201570,
  'full_name': 'Joe Alexander',
  'first_name': 'Joe',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 1629734,
  'full_name': 'Kyle Alexander',
  'first_name': 'Kyle',
  'last_name': 'Alexander',
  'is_active': True},
 {'id': 2349,
  'full_name': 'Victor Alexander',
  'first_name': 'Victor',
  'last_name': 'Alexander',
  'is_active': False},
 {'id': 1629638,
  'full_name': 'Nickeil Alexander-Walker',
  'first_name': 'Nickeil',
  'last_name': 'Alexander-Walker',
  'is_active': True},
 {'id': 76024,
  'full_name': 'Steve Alford',
  'first_name': 'Steve',
  'last_name': 'Alford',
  'is_active': False},
 {'id': 1628959,
  'full_name': 'Rawle Alkins',
  'first_name': 'Rawle',
  'last_name': 'Alkins',
  'is_active': False},
 {'id': 76028,
  'full_name': 'Bob Allen',
  'first_name': 'Bob',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 1628960,
  'full_name': 'Grayson Allen',
  'first_name': 'Grayson',
  'last_name': 'Allen',
  'is_active': True},
 {'id': 1628386,
  'full_name': 'Jarrett Allen',
  'first_name': 'Jarrett',
  'last_name': 'Allen',
  'is_active': True},
 {'id': 706,
  'full_name': 'Jerome Allen',
  'first_name': 'Jerome',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 1628443,
  'full_name': 'Kadeem Allen',
  'first_name': 'Kadeem',
  'last_name': 'Allen',
  'is_active': True},
 {'id': 202730,
  'full_name': 'Lavoy Allen',
  'first_name': 'Lavoy',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 76027,
  'full_name': 'Lucius Allen',
  'first_name': 'Lucius',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 2124,
  'full_name': 'Malik Allen',
  'first_name': 'Malik',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 76025,
  'full_name': 'Randy Allen',
  'first_name': 'Randy',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 951,
  'full_name': 'Ray Allen',
  'first_name': 'Ray',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 2754,
  'full_name': 'Tony Allen',
  'first_name': 'Tony',
  'last_name': 'Allen',
  'is_active': False},
 {'id': 76029,
  'full_name': 'Odis Allison',
  'first_name': 'Odis',
  'last_name': 'Allison',
  'is_active': False},
 {'id': 200984,
  'full_name': 'Lance Allred',
  'first_name': 'Lance',
  'last_name': 'Allred',
  'is_active': False},
 {'id': 76030,
  'full_name': 'Darrell Allums',
  'first_name': 'Darrell',
  'last_name': 'Allums',
  'is_active': False},
 {'id': 201165,
  'full_name': 'Morris Almond',
  'first_name': 'Morris',
  'last_name': 'Almond',
  'is_active': False},
 {'id': 308,
  'full_name': 'Derrick Alston',
  'first_name': 'Derrick',
  'last_name': 'Alston',
  'is_active': False},
 {'id': 1747,
  'full_name': 'Rafer Alston',
  'first_name': 'Rafer',
  'last_name': 'Alston',
  'is_active': False},
 {'id': 1824,
  'full_name': 'Peter Aluma',
  'first_name': 'Peter',
  'last_name': 'Aluma',
  'is_active': False},
 {'id': 680,
  'full_name': 'John Amaechi',
  'first_name': 'John',
  'last_name': 'Amaechi',
  'is_active': False},
 {'id': 732,
  'full_name': 'Ashraf Amaya',
  'first_name': 'Ashraf',
  'last_name': 'Amaya',
  'is_active': False},
 {'id': 202329,
  'full_name': 'Al-Farouq Aminu',
  'first_name': 'Al-Farouq',
  'last_name': 'Aminu',
  'is_active': True},
 {'id': 200811,
  'full_name': 'Lou Amundson',
  'first_name': 'Lou',
  'last_name': 'Amundson',
  'is_active': False},
 {'id': 76034,
  'full_name': 'Bob Anderegg',
  'first_name': 'Bob',
  'last_name': 'Anderegg',
  'is_active': False},
 {'id': 2365,
  'full_name': 'Chris Andersen',
  'first_name': 'Chris',
  'last_name': 'Andersen',
  'is_active': False},
 {'id': 2431,
  'full_name': 'David Andersen',
  'first_name': 'David',
  'last_name': 'Andersen',
  'is_active': False},
 {'id': 101187,
  'full_name': 'Alan Anderson',
  'first_name': 'Alan',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 202079,
  'full_name': 'Antonio Anderson',
  'first_name': 'Antonio',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76035,
  'full_name': 'Cliff Anderson',
  'first_name': 'Cliff',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76036,
  'full_name': 'Daniel Anderson',
  'first_name': 'Daniel',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 1507,
  'full_name': 'Derek Anderson',
  'first_name': 'Derek',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76037,
  'full_name': 'Dwight Anderson',
  'first_name': 'Dwight',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 944,
  'full_name': 'Eric Anderson',
  'first_name': 'Eric',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 246,
  'full_name': 'Greg Anderson',
  'first_name': 'Greg',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 202341,
  'full_name': 'James Anderson',
  'first_name': 'James',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76040,
  'full_name': 'Jerome Anderson',
  'first_name': 'Jerome',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 1626147,
  'full_name': 'Justin Anderson',
  'first_name': 'Justin',
  'last_name': 'Anderson',
  'is_active': True},
 {'id': 72,
  'full_name': 'Kenny Anderson',
  'first_name': 'Kenny',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76041,
  'full_name': 'Kim Anderson',
  'first_name': 'Kim',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 203937,
  'full_name': 'Kyle Anderson',
  'first_name': 'Kyle',
  'last_name': 'Anderson',
  'is_active': True},
 {'id': 76042,
  'full_name': 'Michael Anderson',
  'first_name': 'Michael',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76043,
  'full_name': 'Mitchell Anderson',
  'first_name': 'Mitchell',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 98,
  'full_name': 'Nick Anderson',
  'first_name': 'Nick',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76045,
  'full_name': 'Richard Anderson',
  'first_name': 'Richard',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76046,
  'full_name': 'Ron Anderson',
  'first_name': 'Ron',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 201583,
  'full_name': 'Ryan Anderson',
  'first_name': 'Ryan',
  'last_name': 'Anderson',
  'is_active': True},
 {'id': 1000,
  'full_name': 'Shandon Anderson',
  'first_name': 'Shandon',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 335,
  'full_name': 'Willie Anderson',
  'first_name': 'Willie',
  'last_name': 'Anderson',
  'is_active': False},
 {'id': 76048,
  'full_name': 'Wally Anderzunas',
  'first_name': 'Wally',
  'last_name': 'Anderzunas',
  'is_active': False},
 {'id': 101149,
  'full_name': 'Martynas Andriuskevicius',
  'first_name': 'Martynas',
  'last_name': 'Andriuskevicius',
  'is_active': False},
 {'id': 76049,
  'full_name': 'Don Anielak',
  'first_name': 'Don',
  'last_name': 'Anielak',
  'is_active': False},
 {'id': 1628387,
  'full_name': 'Ike Anigbogu',
  'first_name': 'Ike',
  'last_name': 'Anigbogu',
  'is_active': False},
 {'id': 76050,
  'full_name': 'Michael Ansley',
  'first_name': 'Michael',
  'last_name': 'Ansley',
  'is_active': False},
 {'id': 1512,
  'full_name': 'Chris Anstey',
  'first_name': 'Chris',
  'last_name': 'Anstey',
  'is_active': False},
 {'id': 203507,
  'full_name': 'Giannis Antetokounmpo',
  'first_name': 'Giannis',
  'last_name': 'Antetokounmpo',
  'is_active': True},
 {'id': 1628961,
  'full_name': 'Kostas Antetokounmpo',
  'first_name': 'Kostas',
  'last_name': 'Antetokounmpo',
  'is_active': True},
 {'id': 203648,
  'full_name': 'Thanasis Antetokounmpo',
  'first_name': 'Thanasis',
  'last_name': 'Antetokounmpo',
  'is_active': True},
 {'id': 2546,
  'full_name': 'Carmelo Anthony',
  'first_name': 'Carmelo',
  'last_name': 'Anthony',
  'is_active': True},
 {'id': 21,
  'full_name': 'Greg Anthony',
  'first_name': 'Greg',
  'last_name': 'Anthony',
  'is_active': False},
 {'id': 201202,
  'full_name': 'Joel Anthony',
  'first_name': 'Joel',
  'last_name': 'Anthony',
  'is_active': False},
 {'id': 203544,
  'full_name': 'Pero Antic',
  'first_name': 'Pero',
  'last_name': 'Antic',
  'is_active': False},
 {'id': 1628384,
  'full_name': 'OG Anunoby',
  'first_name': 'OG',
  'last_name': 'Anunoby',
  'is_active': True},
 {'id': 203951,
  'full_name': 'Keith Appling',
  'first_name': 'Keith',
  'last_name': 'Appling',
  'is_active': False},
 {'id': 2737,
  'full_name': 'Rafael Araujo',
  'first_name': 'Rafael',
  'last_name': 'Araujo',
  'is_active': False},
 {'id': 76053,
  'full_name': 'Stacey Arceneaux',
  'first_name': 'Stacey',
  'last_name': 'Arceneaux',
  'is_active': False},
 {'id': 76054,
  'full_name': 'Nate Archibald',
  'first_name': 'Nate',
  'last_name': 'Archibald',
  'is_active': False},
 {'id': 2425,
  'full_name': 'Robert Archibald',
  'first_name': 'Robert',
  'last_name': 'Archibald',
  'is_active': False},
 {'id': 1627853,
  'full_name': 'Ryan Arcidiacono',
  'first_name': 'Ryan',
  'last_name': 'Arcidiacono',
  'is_active': True},
 {'id': 76055,
  'full_name': 'Jim Ard',
  'first_name': 'Jim',
  'last_name': 'Ard',
  'is_active': False},
 {'id': 2240,
  'full_name': 'Gilbert Arenas',
  'first_name': 'Gilbert',
  'last_name': 'Arenas',
  'is_active': False},
 {'id': 2772,
  'full_name': 'Trevor Ariza',
  'first_name': 'Trevor',
  'last_name': 'Ariza',
  'is_active': True},
 {'id': 76056,
  'full_name': 'Paul Arizin',
  'first_name': 'Paul',
  'last_name': 'Arizin',
  'is_active': False},
 {'id': 76057,
  'full_name': 'Joe Arlauckas',
  'first_name': 'Joe',
  'last_name': 'Arlauckas',
  'is_active': False},
 {'id': 769,
  'full_name': 'B.J. Armstrong',
  'first_name': 'B.J.',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 76061,
  'full_name': 'Bob Armstrong',
  'first_name': 'Bob',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 2220,
  'full_name': 'Brandon Armstrong',
  'first_name': 'Brandon',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 353,
  'full_name': 'Darrell Armstrong',
  'first_name': 'Darrell',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 200756,
  'full_name': 'Hilton Armstrong',
  'first_name': 'Hilton',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 76060,
  'full_name': 'Paul Armstrong',
  'first_name': 'Paul',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 76059,
  'full_name': 'Tate Armstrong',
  'first_name': 'Tate',
  'last_name': 'Armstrong',
  'is_active': False},
 {'id': 76062,
  'full_name': 'Jesse Arnelle',
  'first_name': 'Jesse',
  'last_name': 'Arnelle',
  'is_active': False},
 {'id': 76063,
  'full_name': 'Jay Arnette',
  'first_name': 'Jay',
  'last_name': 'Arnette',
  'is_active': False},
 {'id': 76064,
  'full_name': 'Bob Arnzen',
  'first_name': 'Bob',
  'last_name': 'Arnzen',
  'is_active': False},
 {'id': 2306,
  'full_name': 'Carlos Arroyo',
  'first_name': 'Carlos',
  'last_name': 'Arroyo',
  'is_active': False},
 {'id': 201589,
  'full_name': 'Darrell Arthur',
  'first_name': 'Darrell',
  'last_name': 'Arthur',
  'is_active': False},
 {'id': 76065,
  'full_name': 'John Arthurs',
  'first_name': 'John',
  'last_name': 'Arthurs',
  'is_active': False},
 {'id': 1628503,
  'full_name': 'Jamel Artis',
  'first_name': 'Jamel',
  'last_name': 'Artis',
  'is_active': False},
 {'id': 201600,
  'full_name': 'Omer Asik',
  'first_name': 'Omer',
  'last_name': 'Asik',
  'is_active': False},
 {'id': 355,
  'full_name': 'Vincent Askew',
  'first_name': 'Vincent',
  'last_name': 'Askew',
  'is_active': False},
 {'id': 173,
  'full_name': 'Keith Askins',
  'first_name': 'Keith',
  'last_name': 'Askins',
  'is_active': False},
 {'id': 76068,
  'full_name': 'Don Asmonga',
  'first_name': 'Don',
  'last_name': 'Asmonga',
  'is_active': False},
 {'id': 76069,
  'full_name': 'Richard Atha',
  'first_name': 'Richard',
  'last_name': 'Atha',
  'is_active': False},
 {'id': 1088,
  'full_name': 'Chucky Atkins',
  'first_name': 'Chucky',
  'last_name': 'Atkins',
  'is_active': False},
 {'id': 76070,
  'full_name': 'Alvin Attles',
  'first_name': 'Alvin',
  'last_name': 'Attles',
  'is_active': False},
 {'id': 76071,
  'full_name': 'Chet Aubuchon',
  'first_name': 'Chet',
  'last_name': 'Aubuchon',
  'is_active': False},
 {'id': 278,
  'full_name': 'Stacey Augmon',
  'first_name': 'Stacey',
  'last_name': 'Augmon',
  'is_active': False},
 {'id': 201571,
  'full_name': 'D.J. Augustin',
  'first_name': 'D.J.',
  'last_name': 'Augustin',
  'is_active': True},
 {'id': 200788,
  'full_name': 'James Augustine',
  'first_name': 'James',
  'last_name': 'Augustine',
  'is_active': False},
 {'id': 1134,
  'full_name': 'Ike Austin',
  'first_name': 'Ike',
  'last_name': 'Austin',
  'is_active': False},
 {'id': 76073,
  'full_name': 'John Austin',
  'first_name': 'John',
  'last_name': 'Austin',
  'is_active': False},
 {'id': 76074,
  'full_name': 'Ken Austin',
  'first_name': 'Ken',
  'last_name': 'Austin',
  'is_active': False},
 {'id': 138,
  'full_name': 'Anthony Avent',
  'first_name': 'Anthony',
  'last_name': 'Avent',
  'is_active': False},
 {'id': 76076,
  'full_name': 'William Averitt',
  'first_name': 'William',
  'last_name': 'Averitt',
  'is_active': False},
 {'id': 1895,
  'full_name': 'William Avery',
  'first_name': 'William',
  'last_name': 'Avery',
  'is_active': False},
 {'id': 76078,
  'full_name': 'Dennis Awtrey',
  'first_name': 'Dennis',
  'last_name': 'Awtrey',
  'is_active': False},
 {'id': 202970,
  'full_name': 'Gustavo Ayon',
  'first_name': 'Gustavo',
  'last_name': 'Ayon',
  'is_active': False},
 {'id': 201965,
  'full_name': 'Jeff Ayres',
  'first_name': 'Jeff',
  'last_name': 'Ayres',
  'is_active': False},
 {'id': 1629028,
  'full_name': 'Deandre Ayton',
  'first_name': 'Deandre',
  'last_name': 'Ayton',
  'is_active': True},
 {'id': 101235,
  'full_name': 'Kelenna Azubuike',
  'first_name': 'Kelenna',
  'last_name': 'Azubuike',
  'is_active': False},
 {'id': 203569,
  'full_name': 'Chris Babb',
  'first_name': 'Chris',
  'last_name': 'Babb',
  'is_active': False},
 {'id': 202337,
  'full_name': 'Luke Babbitt',
  'first_name': 'Luke',
  'last_name': 'Babbitt',
  'is_active': False},
 {'id': 76079,
  'full_name': 'Milos Babic',
  'first_name': 'Milos',
  'last_name': 'Babic',
  'is_active': False},
 {'id': 76080,
  'full_name': 'Johnny Bach',
  'first_name': 'Johnny',

In [38]:
levels=[]
for player in player_dict:
    levels.append(player['id'])
len(levels)

4501

In [12]:
ids[0:3]

[76001, 76002, 76003]

In [13]:
bron=[player for player in player_dict if player['full_name']== 'LeBron James'][0]
bron

{'id': 2544,
 'full_name': 'LeBron James',
 'first_name': 'LeBron',
 'last_name': 'James',
 'is_active': True}

In [14]:
bron_id=bron['id']
bron_id

2544

In [15]:
from nba_api.stats.static import teams

team_dict = teams.get_teams()
team_dict

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [29]:
from nba_api.stats.endpoints import playergamelog
gamelog_bron=playergamelog.PlayerGameLog(player_id='2544', season='2017')
gamelog_bron

In [30]:
import pandas as pd 
gamelog_bron_df=gamelog_bron.get_data_frames()[0]
gamelog_bron_df

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22017,2544,0021701220,"APR 11, 2018",CLE vs. NYK,L,11,4,9,0.444,...,4,5,2,1,0,3,0,10,5,1
1,22017,2544,0021701207,"APR 09, 2018",CLE @ NYK,W,39,7,16,0.438,...,6,6,11,1,0,4,2,26,16,1
2,22017,2544,0021701183,"APR 06, 2018",CLE @ PHI,L,40,17,29,0.586,...,10,11,11,2,1,8,0,44,7,1
3,22017,2544,0021701176,"APR 05, 2018",CLE vs. WAS,W,39,12,20,0.600,...,7,9,14,0,0,6,2,33,13,1
4,22017,2544,0021701156,"APR 03, 2018",CLE vs. TOR,W,37,8,14,0.571,...,10,10,6,0,0,5,2,27,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,22017,2544,0021700058,"OCT 25, 2017",CLE @ BKN,L,41,12,20,0.600,...,9,10,13,0,4,8,1,29,-2,1
78,22017,2544,0021700049,"OCT 24, 2017",CLE vs. CHI,W,37,13,20,0.650,...,2,2,13,3,0,2,1,34,7,2
79,22017,2544,0021700028,"OCT 21, 2017",CLE vs. ORL,L,31,8,15,0.533,...,4,4,2,1,1,1,0,22,-31,1
80,22017,2544,0021700021,"OCT 20, 2017",CLE @ MIL,W,37,10,16,0.625,...,4,5,8,1,1,5,2,24,13,1
81,22017,2544,0021700001,"OCT 17, 2017",CLE vs. BOS,W,41,12,19,0.632,...,15,16,9,0,2,4,3,29,3,1

In [32]:
gamelog_bron_df

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22017,2544,0021701220,"APR 11, 2018",CLE vs. NYK,L,11,4,9,0.444,...,4,5,2,1,0,3,0,10,5,1
1,22017,2544,0021701207,"APR 09, 2018",CLE @ NYK,W,39,7,16,0.438,...,6,6,11,1,0,4,2,26,16,1
2,22017,2544,0021701183,"APR 06, 2018",CLE @ PHI,L,40,17,29,0.586,...,10,11,11,2,1,8,0,44,7,1
3,22017,2544,0021701176,"APR 05, 2018",CLE vs. WAS,W,39,12,20,0.600,...,7,9,14,0,0,6,2,33,13,1
4,22017,2544,0021701156,"APR 03, 2018",CLE vs. TOR,W,37,8,14,0.571,...,10,10,6,0,0,5,2,27,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,22017,2544,0021700058,"OCT 25, 2017",CLE @ BKN,L,41,12,20,0.600,...,9,10,13,0,4,8,1,29,-2,1
78,22017,2544,0021700049,"OCT 24, 2017",CLE vs. CHI,W,37,13,20,0.650,...,2,2,13,3,0,2,1,34,7,2
79,22017,2544,0021700028,"OCT 21, 2017",CLE vs. ORL,L,31,8,15,0.533,...,4,4,2,1,1,1,0,22,-31,1
80,22017,2544,0021700021,"OCT 20, 2017",CLE @ MIL,W,37,10,16,0.625,...,4,5,8,1,1,5,2,24,13,1
81,22017,2544,0021700001,"OCT 17, 2017",CLE vs. BOS,W,41,12,19,0.632,...,15,16,9,0,2,4,3,29,3,1

In [31]:
from nba_api.stats.library.parameters import SeasonAll
gamelog_bron_all=playergamelog.PlayerGameLog(player_id=bron_id,season=SeasonAll.all)
gamelog_bron_df_all=gamelog_bron_all.get_data_frames()[0]

In [32]:
gamelog_bron_df_all

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22020,2544,0022001072,"MAY 16, 2021",LAL @ NOP,W,27,11,22,0.500,...,0,1,6,3,0,2,0,25,-2,1
1,22020,2544,0022001061,"MAY 15, 2021",LAL @ IND,W,28,11,22,0.500,...,4,7,8,0,0,4,2,24,7,1
2,22020,2544,0022000974,"MAY 02, 2021",LAL vs. TOR,L,28,6,11,0.545,...,7,7,6,0,0,5,2,19,-4,1
3,22020,2544,0022000956,"APR 30, 2021",LAL vs. SAC,L,32,6,12,0.500,...,7,8,7,2,1,5,1,16,5,1
4,22020,2544,0022000640,"MAR 20, 2021",LAL vs. ATL,L,11,3,6,0.500,...,1,1,4,0,0,1,0,10,-5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,22003,2544,0020300068,"NOV 07, 2003",CLE @ IND,L,44,8,18,0.444,...,5,5,3,0,0,7,2,23,-7,0
1306,22003,2544,0020300057,"NOV 05, 2003",CLE vs. DEN,L,41,3,11,0.273,...,9,11,7,2,3,2,1,7,-3,0
1307,22003,2544,0020300038,"NOV 01, 2003",CLE @ POR,L,39,3,12,0.250,...,4,4,6,2,0,2,3,8,-21,0
1308,22003,2544,0020300018,"OCT 30, 2003",CLE @ PHX,L,41,8,17,0.471,...,10,12,8,1,0,7,1,21,-3,0
1309,22003,2544,0020300014,"OCT 29, 2003",CLE @ SAC,L,42,12,20,0.600,...,4,6,9,4,0,2,3,25,-9,0

In [174]:
from nba_api.stats.endpoints import cumestatsplayer
from nba_api.stats.endpoints import cumestatsplayergames
from nba_api.stats.endpoints import leaguedashplayerstats
from nba_api.stats.endpoints import playercareerbycollege

from nba_api.stats.endpoints import playerdashboardbyyearoveryear

In [17]:
seasonal=[('2018-19','2019-20')]

In [175]:
dashstats=leaguedashplayerstats.LeagueDashPlayerStats(season='2019-20').get_data_frames()[0]
dashstats

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,Aaron,1610612753,ORL,24.0,62,30,32,0.484,...,456,387,50,81,398,49,29,17,5,"203932,1610612753"
1,1628988,Aaron Holiday,Aaron,1610612754,IND,23.0,66,42,24,0.636,...,377,374,133,151,87,161,115,29,5,"1628988,1610612754"
2,1627846,Abdel Nader,Abdel,1610612760,OKC,26.0,55,37,18,0.673,...,214,250,293,261,420,292,239,29,5,"1627846,1610612760"
3,1629690,Adam Mokoka,Adam,1610612741,CHI,21.0,11,3,8,0.273,...,121,101,460,451,128,456,239,29,5,"1629690,1610612741"
4,1629678,Admiral Schofield,Admiral,1610612764,WAS,23.0,33,9,24,0.273,...,121,194,390,388,387,405,239,29,5,"1629678,1610612764"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,203897,Zach LaVine,Zach,1610612741,CHI,25.0,60,20,40,0.333,...,525,404,34,15,490,30,142,29,5,"203897,1610612741"
525,1629668,Zach Norvell,Zach,1610612744,GSW,22.0,5,2,3,0.400,...,1,37,495,496,321,496,239,29,5,"1629668,1610612744"
526,1629015,Zhaire Smith,Zhaire,1610612755,PHI,21.0,7,3,4,0.429,...,52,37,486,501,272,500,239,29,5,"1629015,1610612755"
527,1629627,Zion Williamson,Zion,1610612740,NOP,19.0,24,11,13,0.458,...,441,174,107,181,114,250,142,29,5,"1629627,1610612740"
528,1629597,Zylan Cheatham,Zylan,1610612740,NOP,24.0,4,2,2,0.500,...,1,78,513,486,324,491,239,29,5,"1629597,1610612740"

In [70]:
dashstats.info()

NameError: name 'cumestats' is not defined

In [176]:
seasons_=['1996-97','1997-98','1998-99','1999-00','2000-01','2001-02','2002-03','2003-04','2004-05','2005-06','2006-07','2007-08','2008-09','2009-10','2010-11','2011-12','2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19','2019-20']
seasons_

['1996-97',
 '1997-98',
 '1998-99',
 '1999-00',
 '2000-01',
 '2001-02',
 '2002-03',
 '2003-04',
 '2004-05',
 '2005-06',
 '2006-07',
 '2007-08',
 '2008-09',
 '2009-10',
 '2010-11',
 '2011-12',
 '2012-13',
 '2013-14',
 '2014-15',
 '2015-16',
 '2016-17',
 '2017-18',
 '2018-19',
 '2019-20']

In [177]:
dfs=[]

for season_ in seasons_:
    dfs.append(leaguedashplayerstats.LeagueDashPlayerStats(season=season_).get_data_frames()[0])

In [183]:
dfs[3]

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,920,A.C. Green,A.C.,1610612747,LAL,36.0,82,67,15,0.817,...,254,225,111,220,25,175,138,23,5,"920,1610612747"
1,1920,A.J. Bramlett,A.J.,1610612739,CLE,23.0,8,3,5,0.375,...,37,39,345,418,283,410,213,23,5,"1920,1610612739"
2,243,Aaron McKie,Aaron,1610612755,PHI,27.0,82,49,33,0.598,...,322,329,241,139,125,128,213,23,5,"243,1610612755"
3,1425,Aaron Williams,Aaron,1610612764,WAS,28.0,81,29,52,0.358,...,348,388,134,151,132,134,96,23,5,"1425,1610612764"
4,228,Adam Keefe,Adam,1610612762,UTA,30.0,62,41,21,0.661,...,201,176,294,324,278,310,213,23,5,"228,1610612762"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,1943,Wayne Turner,Wayne,1610612738,BOS,24.0,3,3,0,1.000,...,1,19,374,429,189,428,213,23,5,"1943,1610612738"
435,445,Wesley Person,Wesley,1610612739,CLE,29.0,79,29,50,0.367,...,238,216,228,123,349,160,213,23,5,"445,1610612739"
436,781,Will Perdue,Will,1610612741,CHI,34.0,67,11,56,0.164,...,221,223,125,303,408,255,213,23,5,"781,1610612741"
437,1895,William Avery,William,1610612750,MIN,20.0,59,37,22,0.627,...,177,125,345,311,363,320,213,23,5,"1895,1610612750"
438,440,Zan Tabak,Zan,1610612754,IND,30.0,18,11,7,0.611,...,72,39,400,393,166,384,213,23,5,"440,1610612754"

In [34]:
bronyear=playerdashboardbyyearoveryear.PlayerDashboardByYearOverYear(player_id=bron_id)

In [35]:
bronyear_df=bronyear.get_data_frames()[1]
bronyear_df

,GROUP_SET,GROUP_VALUE,TEAM_ID,TEAM_ABBREVIATION,MAX_GAME_DATE,GP,W,L,W_PCT,MIN,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,By Year,2020-21,1610612747,LAL,2021-05-16T00:00:00,45,30,15,0.667,1503.701667,...,1,1,16,18,12,18,15,7,264,2020-21
1,By Year,2019-20,1610612747,LAL,2020-08-13T00:00:00,67,50,17,0.746,2316.266667,...,10,5,14,14,9,13,2,2,264,2019-20
2,By Year,2018-19,1610612747,LAL,2019-03-29T00:00:00,55,28,27,0.509,1937.401667,...,9,2,15,17,16,17,5,4,264,2018-19
3,By Year,2017-18,1610612739,CLE,2018-04-11T00:00:00,82,50,32,0.610,3025.588333,...,15,10,9,4,17,1,1,1,264,2017-18
4,By Year,2016-17,1610612739,CLE,2017-04-09T00:00:00,74,51,23,0.689,2794.575000,...,12,8,8,11,7,9,3,2,264,2016-17
5,By Year,2015-16,1610612739,CLE,2016-04-11T00:00:00,76,56,20,0.737,2708.578333,...,16,12,11,12,5,12,10,13,264,2015-16
6,By Year,2014-15,1610612739,CLE,2015-04-13T00:00:00,69,50,19,0.725,2493.421667,...,7,9,12,13,6,14,13,14,264,2014-15
7,By Year,2013-14,1610612748,MIA,2014-04-12T00:00:00,77,52,25,0.675,2901.870000,...,5,7,7,9,10,11,17,15,264,2013-14
8,By Year,2012-13,1610612748,MIA,2013-04-14T00:00:00,76,61,15,0.803,2877.055000,...,4,4,9,10,2,7,4,9,264,2012-13
9,By Year,2011-12,1610612748,MIA,2012-04-22T00:00:00,62,45,17,0.726,2326.215000,...,2,3,13,15,8,16,12,17,264,2011-12
10,By Year,2010-11,1610612748,MIA,2011-04-11T00:00:00,79,57,22,0.722,3062.981667,...,3,15,6,8,4,8,6,9,264,2010-11
11,By Year,2009-10,1610612739,CLE,2010-04-06T00:00:00,76,60,16,0.789,2965.730000,...,6,6,4,3,3,3,6,9,264,2009-10
12,By Year,2008-09,1610612739,CLE,2009-04-13T00:00:00,81,66,15,0.815,3054.063333,...,10,11,3,2,1,2,9,5,264,2008-09
13,By Year,2007-08,1610612739,CLE,2008-04-14T00:00:00,75,45,30,0.600,3026.798333,...,13,16,2,5,15,6,6,5,264,2007-08
14,By Year,2006-07,1610612739,CLE,2007-04-18T00:00:00,78,47,31,0.603,3190.290000,...,8,17,5,7,11,10,16,15,264,2006-07
15,By Year,2005-06,1610612739,CLE,2006-04-16T00:00:00,79,47,32,0.595,3360.616667,...,14,18,1,1,13,4,14,7,264,2005-06
16,By Year,2004-05,1610612739,CLE,2005-04-20T00:00:00,80,41,39,0.513,3383.968333,...,17,13,17,6,14,5,11,9,264,2004-05
17,By Year,2003-04,1610612739,CLE,2004-04-14T00:00:00,79,33,46,0.418,3126.865000,...,18,14,17,16,18,15,17,17,264,2003-04

In [47]:
bronyear_df.groupby(['GROUP_VALUE']).cumcount()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
dtype: int64

In [40]:
bronyear_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 65 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GROUP_SET             18 non-null     object
 1   GROUP_VALUE           18 non-null     object
 2   TEAM_ID               18 non-null     int64
 3   TEAM_ABBREVIATION     18 non-null     object
 4   MAX_GAME_DATE         18 non-null     object
 5   GP                    18 non-null     int64
 6   W                     18 non-null     int64
 7   L                     18 non-null     int64
 8   W_PCT                 18 non-null     float64
 9   MIN                   18 non-null     float64
 10  FGM                   18 non-null     int64
 11  FGA                   18 non-null     int64
 12  FG_PCT                18 non-null     float64
 13  FG3M                  18 non-null     int64
 14  FG3A                  18 non-null     int64
 15  FG3_PCT               18 non-null     float64
 16  FTM                   18 non-null     int64
 17  FTA                   18 non-null     int64
 18  FT_PCT                18 non-null     float64
 19  OREB                  18 non-null     int64
 20  DREB                  18 non-null     int64
 21  REB                   18 non-null     int64
 22  AST                   18 non-null     int64
 23  TOV                   18 non-null     int64
 24  STL                   18 non-null     int64
 25  BLK                   18 non-null     int64
 26  BLKA                  18 non-null     int64
 27  PF                    18 non-null     int64
 28  PFD                   18 non-null     int64
 29  PTS                   18 non-null     int64
 30  PLUS_MINUS            18 non-null     int64
 31  NBA_FANTASY_PTS       18 non-null     float64
 32  DD2                   18 non-null     int64
 33  TD3                   18 non-null     int64
 34  GP_RANK               18 non-null     int64
 35  W_RANK                18 non-null     int64
 36  L_RANK                18 non-null     int64
 37  W_PCT_RANK            18 non-null     int64
 38  MIN_RANK              18 non-null     int64
 39  FGM_RANK              18 non-null     int64
 40  FGA_RANK              18 non-null     int64
 41  FG_PCT_RANK           18 non-null     int64
 42  FG3M_RANK             18 non-null     int64
 43  FG3A_RANK             18 non-null     int64
 44  FG3_PCT_RANK          18 non-null     int64
 45  FTM_RANK              18 non-null     int64
 46  FTA_RANK              18 non-null     int64
 47  FT_PCT_RANK           18 non-null     int64
 48  OREB_RANK             18 non-null     int64
 49  DREB_RANK             18 non-null     int64
 50  REB_RANK              18 non-null     int64
 51  AST_RANK              18 non-null     int64
 52  TOV_RANK              18 non-null     int64
 53  STL_RANK              18 non-null     int64
 54  BLK_RANK              18 non-null     int64
 55  BLKA_RANK             18 non-null     int64
 56  PF_RANK               18 non-null     int64
 57  PFD_RANK              18 non-null     int64
 58  PTS_RANK              18 non-null     int64
 59  PLUS_MINUS_RANK       18 non-null     int64
 60  NBA_FANTASY_PTS_RANK  18 non-null     int64
 61  DD2_RANK              18 non-null     int64
 62  TD3_RANK              18 non-null     int64
 63  CFID                  18 non-null     int64
 64  CFPARAMS              18 non-null     object
dtypes: float64(6), int64(54), object(5)
memory usage: 9.3+ KB

In [38]:
jordan=[player for player in player_dict if player['full_name']== 'Michael Jordan'][0]
jordan['id']

893

In [39]:
jordanyear=playerdashboardbyyearoveryear.PlayerDashboardByYearOverYear(player_id=893)
jordanyear_df=jordanyear.get_data_frames()[1]
jordanyear_df

,GROUP_SET,GROUP_VALUE,TEAM_ID,TEAM_ABBREVIATION,MAX_GAME_DATE,GP,W,L,W_PCT,MIN,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,By Year,2002-03,1610612764,WAS,2003-04-16T00:00:00,82,37,45,0.451,3029.038333,...,2,4,4,3,4,3,1,2,264,2002-03
1,By Year,2001-02,1610612764,WAS,2002-04-02T00:00:00,60,30,30,0.500,2089.001667,...,3,1,3,4,3,4,3,2,264,2001-02
2,By Year,1997-98,1610612741,CHI,1998-04-18T00:00:00,82,62,20,0.756,3182.380000,...,4,2,1,2,2,2,4,2,264,1997-98
3,By Year,1996-97,1610612741,CHI,1997-04-19T00:00:00,82,69,13,0.841,3108.803333,...,1,3,1,1,1,1,2,1,264,1996-97

In [ ]:
melocollege=playercareerbycollege.PlayerCareerByCollege()

In [55]:
from nba_api.stats.library.parameters import SeasonAll_Time
from nba_api.stats.endpoints import draftcombinedrillresults

In [69]:
drills=draftcombinedrillresults.DraftCombineDrillResults()

In [70]:
combine_drills=drills.get_data_frames()[0]
combine_drills

,TEMP_PLAYER_ID,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,STANDING_VERTICAL_LEAP,MAX_VERTICAL_LEAP,LANE_AGILITY_TIME,MODIFIED_LANE_AGILITY_TIME,THREE_QUARTER_SPRINT,BENCH_PRESS
0,1630546,1630546,Max,Abmas,Max Abmas,PG,28.5,32.5,10.90,3.49,3.12,None
1,1630534,1630534,Ochai,Agbaji,Ochai Agbaji,SG,32.0,41.5,10.88,3.10,3.13,None
2,1630542,1630542,Marcus,Bagley,Marcus Bagley,SF,32.5,38.5,12.26,3.10,3.17,None
3,1630567,1630567,Scottie,Barnes,Scottie Barnes,SF,36.0,39.5,10.88,2.99,3.15,None
4,1629646,1629646,Charles,Bassey,Charles Bassey,C,33.0,36.0,12.19,3.33,3.13,None
...,...,...,...,...,...,...,...,...,...,...,...,...
69,210038,1630598,Aaron,Wiggins,Aaron Wiggins,SG-SF,29.5,36.0,11.20,3.00,3.04,None
70,1630533,1630533,Ziaire,Williams,Ziaire Williams,SF,34.0,39.5,10.69,3.04,3.12,None
71,1630589,1630589,Moses,Wright,Moses Wright,PF,31.5,38.0,11.20,3.42,3.15,None
72,1630593,1630593,McKinley,Wright IV,McKinley Wright IV,PG,31.5,38.0,10.76,3.12,3.08,None
73,1630681,1630681,Marcus,Zegarowski,Marcus Zegarowski,PG,30.0,35.5,11.47,3.26,3.11,None

In [71]:
from nba_api.stats.endpoints import cumestatsplay

TypeError: __init__() missing 2 required positional arguments: 'player_id' and 'game_ids'

In [134]:
# Importing the necessary libraries
import requests
import pandas as pd
# Under the Header tab, select general and copy the first part of the request URL
url = 'https://stats.nba.com/stats/leaguedashplayerstats?'
#Header Tab, under "Query String Parameter" subsection
params =(
("College", ""), 
("Conference", ""), 
("Country", ""), 
("DateFrom", ""), 
("DateTo", ""), 
("Division", ""), 
("DraftPick", ""), 
("DraftYear", ""), 
("GameScope", ""), 
("GameSegment",""), 
("Height",""), 
("LastNGames", "0"),
("LeagueID", "00"),
("Location", ""), 
("MeasureType", "Base"),
("Month", "0"),
("OpponentTeamID", "0"),
("Outcome", ""), 
("PORound", "0"),
("PaceAdjust", "N"),
("PerMode", "PerGame"),
("Period", "0"),
("PlayerExperience", ""), 
("PlayerPosition", ""), 
("PlusMinus", "N"),
("Rank", "N"),
("Season", "2020-21"),
("SeasonSegment", ""), 
("SeasonType", "Regular Season"),
("ShotClockRange", ""),
("StarterBench", "0"),
("TeamID", "0"),
("TwoWay", "0"),
("VsConference", ""), 
("VsDivision", ""),
("Weight", ""))
# Header tab, under “Request Headers” subsection
header = {
"accept": "application/json, text/plain, */*",
"accept-encoding": "gzip, deflate, br",
"accept-language": "en-US,en;q=0.9",
"Connection": "keep-alive",
"Host": "stats.nba.com",
"If-Modified-Since": "Thu, 14 Oct 2021 15:54:39 GMT",
"origin": "https://www.nba.com",
"referer": "https://www.nba.com/",
"sec-ch-ua": "Chromium;v=94, Google Chrome;v=94,;Not A Brand;v=99",
"sec-ch-ua-mobile": "?1",
"sec-ch-ua-platform": "Android",
"sec-fetch-dest": "empty",
"sec-fetch-mode": "cors",
"sec-fetch-site": "same-site",
"User-Agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Mobile Safari/537.36",
"x-nba-stats-origin": "stats",
"x-nba-stats-token": "true"}

#Using Request library to get the data
response = requests.get(url, headers=header, params=params)
response_json = response.json()
frame = pd.DataFrame(response_json['resultSets'][0]['rowSet'])
frame.columns = response_json['resultSets'][0]['headers']
frame.head()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [128]:
# Importing the necessary libraries
import requests
import pandas as pd
# Under the Header tab, select general and copy the first part of the request URL
url = 'https://stats.nba.com/stats/playergamelogs'
#Header Tab, under "Query String Parameter" subsection
params =(
("DateTo", ""),
("GameSegment", ""),
("LastNGames", "0"),
("LeagueID", "00"),
("Location", ""),
("MeasureType", "Base"),
("Month", "0"),
("OpponentTeamID", "0"),
("Outcome", ""),
("PORound", "0"),
("PaceAdjust", "N"),
("PerMode", "Totals"),
("Period", "0"),
("PlusMinus", "N"),
("Rank", "N"),
("Season", "2020-21"),
("SeasonSegment", ""),
("SeasonType", "Regular Season"),
("ShotClockRange", ""),
("VsConference", ""),
("VsDivision", "" ))
# Header tab, under “Request Headers” subsection
header = {
"accept": "application/json, text/plain, */*",
"accept-encoding": "gzip, deflate, br",
"accept-language": "en-US,en;q=0.9",
"origin": "https://www.nba.com",
"referer": "https://www.nba.com/",
"sec-fetch-dest": "empty",
"sec-fetch-mode": "cors",
"sec-fetch-site": "same-site",
"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36 Edg/87.0.664.66",
"x-nba-stats-origin": "stats",
"x-nba-stats-token": "true"}
#Using Request library to get the data
response = requests.get(url, headers=header, params=params)
response_json = response.json()
frame = pd.DataFrame(response_json['resultSets'][0]['rowSet'])
frame.columns = response_json['resultSets'][0]['headers']
frame.head()

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,...,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,VIDEO_AVAILABLE_FLAG
0,2020-21,1626184,Chasson Randle,Chasson,1610612753,ORL,Orlando Magic,0022001075,2021-05-16T00:00:00,ORL @ PHI,...,7210,1,16132,10308,8773,6667,11751,1849,143,1
1,2020-21,1626169,Stanley Johnson,Stanley,1610612761,TOR,Toronto Raptors,0022001079,2021-05-16T00:00:00,TOR vs. IND,...,7210,15321,4919,795,1773,17520,2490,1849,143,1
2,2020-21,1628975,Jevon Carter,Jevon,1610612756,PHX,Phoenix Suns,0022001078,2021-05-16T00:00:00,PHX @ SAS,...,7210,22522,1,16020,3538,6667,785,1,143,1
3,2020-21,1629605,Tacko Fall,Tacko,1610612738,BOS,Boston Celtics,0022001073,2021-05-16T00:00:00,BOS @ NYK,...,231,15321,10833,10308,17485,16140,10104,1849,143,1
4,2020-21,1627756,Denzel Valentine,Denzel,1610612741,CHI,Chicago Bulls,0022001068,2021-05-16T00:00:00,CHI vs. MIL,...,2271,15321,16132,10308,11759,4365,12397,1849,143,1

In [ ]:
College: 
Conference: 
Country: 
DateFrom: 
DateTo: 
Division: 
DraftPick: 
DraftYear: 
GameScope: 
GameSegment: 
Height: 
LastNGames: 0
LeagueID: 00
Location: 
MeasureType: Base
Month: 0
OpponentTeamID: 0
Outcome: 
PORound: 0
PaceAdjust: N
PerMode: PerGame
Period: 0
PlayerExperience: 
PlayerPosition: 
PlusMinus: N
Rank: N
Season: 2020-21
SeasonSegment: 
SeasonType: Regular Season
ShotClockRange: 
StarterBench: 
TeamID: 0
TwoWay: 0
VsConference: 
VsDivision: 
Weight:

In [121]:
frame

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,...,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,VIDEO_AVAILABLE_FLAG
0,2020-21,1626184,Chasson Randle,Chasson,1610612753,ORL,Orlando Magic,0022001075,2021-05-16T00:00:00,ORL @ PHI,...,7210,1,16132,10308,8773,6667,11751,1849,143,1
1,2020-21,1626169,Stanley Johnson,Stanley,1610612761,TOR,Toronto Raptors,0022001079,2021-05-16T00:00:00,TOR vs. IND,...,7210,15321,4919,795,1773,17520,2490,1849,143,1
2,2020-21,1628975,Jevon Carter,Jevon,1610612756,PHX,Phoenix Suns,0022001078,2021-05-16T00:00:00,PHX @ SAS,...,7210,22522,1,16020,3538,6667,785,1,143,1
3,2020-21,1629605,Tacko Fall,Tacko,1610612738,BOS,Boston Celtics,0022001073,2021-05-16T00:00:00,BOS @ NYK,...,231,15321,10833,10308,17485,16140,10104,1849,143,1
4,2020-21,1627756,Denzel Valentine,Denzel,1610612741,CHI,Chicago Bulls,0022001068,2021-05-16T00:00:00,CHI vs. MIL,...,2271,15321,16132,10308,11759,4365,12397,1849,143,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23049,2020-21,1628379,Luke Kennard,Luke,1610612746,LAC,LA Clippers,0022000002,2020-12-22T00:00:00,LAC @ LAL,...,2271,1,16132,16020,16353,13536,12706,1849,143,1
23050,2020-21,201188,Marc Gasol,Marc,1610612747,LAL,Los Angeles Lakers,0022000002,2020-12-22T00:00:00,LAL vs. LAC,...,7210,1,21997,16020,20448,17520,21521,1849,143,1
23051,2020-21,1628971,Bruce Brown,Bruce,1610612751,BKN,Brooklyn Nets,0022000001,2020-12-22T00:00:00,BKN vs. GSW,...,7210,1,4919,16020,18664,16841,21058,1849,143,1
23052,2020-21,1629662,Mfiondu Kabengele,Mfiondu,1610612746,LAC,LA Clippers,0022000002,2020-12-22T00:00:00,LAC @ LAL,...,7210,1,1,16020,20448,12607,22167,1849,143,1
23053,2020-21,1629611,Terance Mann,Terance,1610612746,LAC,LA Clippers,0022000002,2020-12-22T00:00:00,LAC @ LAL,...,7210,1,1,16020,20448,12607,22167,1849,143,1

In [123]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23054 entries, 0 to 23053
Data columns (total 66 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SEASON_YEAR           23054 non-null  object
 1   PLAYER_ID             23054 non-null  int64
 2   PLAYER_NAME           23054 non-null  object
 3   NICKNAME              23054 non-null  object
 4   TEAM_ID               23054 non-null  int64
 5   TEAM_ABBREVIATION     23054 non-null  object
 6   TEAM_NAME             23054 non-null  object
 7   GAME_ID               23054 non-null  object
 8   GAME_DATE             23054 non-null  object
 9   MATCHUP               23054 non-null  object
 10  WL                    23054 non-null  object
 11  MIN                   23054 non-null  float64
 12  FGM                   23054 non-null  int64
 13  FGA                   23054 non-null  int64
 14  FG_PCT                23054 non-null  float64
 15  FG3M                  23054 non-null  int64
 16  FG3A                  23054 non-null  int64
 17  FG3_PCT               23054 non-null  float64
 18  FTM                   23054 non-null  int64
 19  FTA                   23054 non-null  int64
 20  FT_PCT                23054 non-null  float64
 21  OREB                  23054 non-null  int64
 22  DREB                  23054 non-null  int64
 23  REB                   23054 non-null  int64
 24  AST                   23054 non-null  int64
 25  TOV                   23054 non-null  int64
 26  STL                   23054 non-null  int64
 27  BLK                   23054 non-null  int64
 28  BLKA                  23054 non-null  int64
 29  PF                    23054 non-null  int64
 30  PFD                   23054 non-null  int64
 31  PTS                   23054 non-null  int64
 32  PLUS_MINUS            23054 non-null  int64
 33  NBA_FANTASY_PTS       23054 non-null  float64
 34  DD2                   23054 non-null  int64
 35  TD3                   23054 non-null  int64
 36  GP_RANK               23054 non-null  int64
 37  W_RANK                23054 non-null  int64
 38  L_RANK                23054 non-null  int64
 39  W_PCT_RANK            23054 non-null  int64
 40  MIN_RANK              23054 non-null  int64
 41  FGM_RANK              23054 non-null  int64
 42  FGA_RANK              23054 non-null  int64
 43  FG_PCT_RANK           23054 non-null  int64
 44  FG3M_RANK             23054 non-null  int64
 45  FG3A_RANK             23054 non-null  int64
 46  FG3_PCT_RANK          23054 non-null  int64
 47  FTM_RANK              23054 non-null  int64
 48  FTA_RANK              23054 non-null  int64
 49  FT_PCT_RANK           23054 non-null  int64
 50  OREB_RANK             23054 non-null  int64
 51  DREB_RANK             23054 non-null  int64
 52  REB_RANK              23054 non-null  int64
 53  AST_RANK              23054 non-null  int64
 54  TOV_RANK              23054 non-null  int64
 55  STL_RANK              23054 non-null  int64
 56  BLK_RANK              23054 non-null  int64
 57  BLKA_RANK             23054 non-null  int64
 58  PF_RANK               23054 non-null  int64
 59  PFD_RANK              23054 non-null  int64
 60  PTS_RANK              23054 non-null  int64
 61  PLUS_MINUS_RANK       23054 non-null  int64
 62  NBA_FANTASY_PTS_RANK  23054 non-null  int64
 63  DD2_RANK              23054 non-null  int64
 64  TD3_RANK              23054 non-null  int64
 65  VIDEO_AVAILABLE_FLAG  23054 non-null  int64
dtypes: float64(5), int64(52), object(9)
memory usage: 11.6+ MB

In [21]:
from nba_api.stats.endpoints import playerprofilev2
from nba_api.stats.endpoints import playercareerbycollege
from nba_api.stats.endpoints import playercareerstats

from nba_api.stats.endpoints import playerdashboardbyyearoveryear

In [22]:
bronbron=playerprofilev2.PlayerProfileV2(bron_id).season_totals_regular_season.get_data_frame()

In [23]:
playerprofilev2.PlayerProfileV2(bron_id).season_rankings_regular_season

In [24]:
playerprofilev2.PlayerProfileV2(bron_id).season_rankings_regular_season.get_dict

In [25]:
playerprofilev2.PlayerProfileV2(bron_id).season_rankings_regular_season.get_json

In [26]:
bronbron.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          18 non-null     int64
 1   SEASON_ID          18 non-null     object
 2   LEAGUE_ID          18 non-null     object
 3   TEAM_ID            18 non-null     int64
 4   TEAM_ABBREVIATION  18 non-null     object
 5   PLAYER_AGE         18 non-null     float64
 6   GP                 18 non-null     int64
 7   GS                 18 non-null     int64
 8   MIN                18 non-null     int64
 9   FGM                18 non-null     int64
 10  FGA                18 non-null     int64
 11  FG_PCT             18 non-null     float64
 12  FG3M               18 non-null     int64
 13  FG3A               18 non-null     int64
 14  FG3_PCT            18 non-null     float64
 15  FTM                18 non-null     int64
 16  FTA                18 non-null     int64
 17  FT_PCT             18 non-null     float64
 18  OREB               18 non-null     int64
 19  DREB               18 non-null     int64
 20  REB                18 non-null     int64
 21  AST                18 non-null     int64
 22  STL                18 non-null     int64
 23  BLK                18 non-null     int64
 24  TOV                18 non-null     int64
 25  PF                 18 non-null     int64
 26  PTS                18 non-null     int64
dtypes: float64(4), int64(20), object(3)
memory usage: 3.9+ KB

In [27]:
bron10=playerprofilev2.PlayerProfileV2(bron_id).season_rankings_regular_season.get_data_frame()
bron10

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,RANK_MIN,RANK_FGM,...,RANK_FT_PCT,RANK_OREB,RANK_DREB,RANK_REB,RANK_AST,RANK_STL,RANK_BLK,RANK_TOV,RANK_PTS,RANK_EFF
0,2544,2003-04,00,1610612739,CLE,NR,NR,NR,9,7,...,73,103,56,65,13,14,59,3,8,23
1,2544,2004-05,00,1610612739,CLE,NR,NR,NR,1,1,...,98,90,21,29,5,2,71,5,2,2
2,2544,2005-06,00,1610612739,CLE,NR,NR,NR,2,2,...,94,144,19,32,10,16,44,6,2,2
3,2544,2006-07,00,1610612739,CLE,NR,NR,NR,1,2,...,116,122,25,39,12,12,57,7,2,6
4,2544,2007-08,00,1610612739,CLE,NR,NR,NR,14,1,...,111,56,27,33,10,6,40,6,2,1
5,2544,2008-09,00,1610612739,CLE,NR,NR,NR,7,3,...,93,88,14,25,8,7,25,4,2,1
6,2544,2009-10,00,1610612739,CLE,NR,NR,NR,12,2,...,82,135,23,39,6,11,39,5,2,1
7,2544,2010-11,00,1610612748,MIA,NR,NR,NR,6,1,...,90,110,13,32,12,9,70,2,2,1
8,2544,2011-12,00,1610612748,MIA,NR,NR,NR,10,2,...,79,81,17,26,12,4,51,6,2,1
9,2544,2012-13,00,1610612748,MIA,NR,NR,NR,16,1,...,82,99,16,28,8,12,49,14,3,2
10,2544,2013-14,00,1610612748,MIA,NR,NR,NR,8,2,...,86,113,30,43,9,14,153,4,3,3
11,2544,2014-15,00,1610612739,CLE,NR,NR,NR,30,7,...,106,182,48,69,11,24,69,5,4,8
12,2544,2015-16,00,1610612739,CLE,NR,NR,NR,18,2,...,98,68,27,36,9,29,71,9,4,5
13,2544,2016-17,00,1610612739,CLE,NR,NR,NR,10,4,...,105,78,14,19,5,30,67,4,9,5
14,2544,2017-18,00,1610612739,CLE,NR,NR,NR,1,1,...,79,67,7,11,2,15,37,2,1,1
15,2544,2018-19,00,1610612747,LAL,NR,NR,NR,114,28,...,111,150,38,53,18,66,119,24,28,25
16,2544,2019-20,00,1610612747,LAL,NR,NR,NR,13,3,...,103,100,13,22,1,34,88,4,8,4
17,2544,2020-21,00,1610612747,LAL,NR,NR,NR,136,46,...,96,232,43,73,24,119,141,22,46,42

In [28]:
bron10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          18 non-null     int64
 1   SEASON_ID          18 non-null     object
 2   LEAGUE_ID          18 non-null     object
 3   TEAM_ID            18 non-null     int64
 4   TEAM_ABBREVIATION  18 non-null     object
 5   PLAYER_AGE         18 non-null     object
 6   GP                 18 non-null     object
 7   GS                 18 non-null     object
 8   RANK_MIN           18 non-null     int64
 9   RANK_FGM           18 non-null     int64
 10  RANK_FGA           18 non-null     int64
 11  RANK_FG_PCT        18 non-null     int64
 12  RANK_FG3M          18 non-null     int64
 13  RANK_FG3A          18 non-null     int64
 14  RANK_FG3_PCT       18 non-null     int64
 15  RANK_FTM           18 non-null     int64
 16  RANK_FTA           18 non-null     int64
 17  RANK_FT_PCT        18 non-null     int64
 18  RANK_OREB          18 non-null     int64
 19  RANK_DREB          18 non-null     int64
 20  RANK_REB           18 non-null     int64
 21  RANK_AST           18 non-null     int64
 22  RANK_STL           18 non-null     int64
 23  RANK_BLK           18 non-null     int64
 24  RANK_TOV           18 non-null     int64
 25  RANK_PTS           18 non-null     int64
 26  RANK_EFF           18 non-null     int64
dtypes: int64(21), object(6)
memory usage: 3.9+ KB

In [30]:
bron2=playerdashboardbyyearoveryear.PlayerDashboardByYearOverYear(bron_id).get_data_frames()[1]
bron2

,GROUP_SET,GROUP_VALUE,TEAM_ID,TEAM_ABBREVIATION,MAX_GAME_DATE,GP,W,L,W_PCT,MIN,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,By Year,2020-21,1610612747,LAL,2021-05-16T00:00:00,45,30,15,0.667,1503.701667,...,1,1,16,18,12,18,15,7,264,2020-21
1,By Year,2019-20,1610612747,LAL,2020-08-13T00:00:00,67,50,17,0.746,2316.266667,...,10,5,14,14,9,13,2,2,264,2019-20
2,By Year,2018-19,1610612747,LAL,2019-03-29T00:00:00,55,28,27,0.509,1937.401667,...,9,2,15,17,16,17,5,4,264,2018-19
3,By Year,2017-18,1610612739,CLE,2018-04-11T00:00:00,82,50,32,0.610,3025.588333,...,15,10,9,4,17,1,1,1,264,2017-18
4,By Year,2016-17,1610612739,CLE,2017-04-09T00:00:00,74,51,23,0.689,2794.575000,...,12,8,8,11,7,9,3,2,264,2016-17
5,By Year,2015-16,1610612739,CLE,2016-04-11T00:00:00,76,56,20,0.737,2708.578333,...,16,12,11,12,5,12,10,13,264,2015-16
6,By Year,2014-15,1610612739,CLE,2015-04-13T00:00:00,69,50,19,0.725,2493.421667,...,7,9,12,13,6,14,13,14,264,2014-15
7,By Year,2013-14,1610612748,MIA,2014-04-12T00:00:00,77,52,25,0.675,2901.870000,...,5,7,7,9,10,11,17,15,264,2013-14
8,By Year,2012-13,1610612748,MIA,2013-04-14T00:00:00,76,61,15,0.803,2877.055000,...,4,4,9,10,2,7,4,9,264,2012-13
9,By Year,2011-12,1610612748,MIA,2012-04-22T00:00:00,62,45,17,0.726,2326.215000,...,2,3,13,15,8,16,12,17,264,2011-12
10,By Year,2010-11,1610612748,MIA,2011-04-11T00:00:00,79,57,22,0.722,3062.981667,...,3,15,6,8,4,8,6,9,264,2010-11
11,By Year,2009-10,1610612739,CLE,2010-04-06T00:00:00,76,60,16,0.789,2965.730000,...,6,6,4,3,3,3,6,9,264,2009-10
12,By Year,2008-09,1610612739,CLE,2009-04-13T00:00:00,81,66,15,0.815,3054.063333,...,10,11,3,2,1,2,9,5,264,2008-09
13,By Year,2007-08,1610612739,CLE,2008-04-14T00:00:00,75,45,30,0.600,3026.798333,...,13,16,2,5,15,6,6,5,264,2007-08
14,By Year,2006-07,1610612739,CLE,2007-04-18T00:00:00,78,47,31,0.603,3190.290000,...,8,17,5,7,11,10,16,15,264,2006-07
15,By Year,2005-06,1610612739,CLE,2006-04-16T00:00:00,79,47,32,0.595,3360.616667,...,14,18,1,1,13,4,14,7,264,2005-06
16,By Year,2004-05,1610612739,CLE,2005-04-20T00:00:00,80,41,39,0.513,3383.968333,...,17,13,17,6,14,5,11,9,264,2004-05
17,By Year,2003-04,1610612739,CLE,2004-04-14T00:00:00,79,33,46,0.418,3126.865000,...,18,14,17,16,18,15,17,17,264,2003-04

In [31]:
bron2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 65 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   GROUP_SET             18 non-null     object
 1   GROUP_VALUE           18 non-null     object
 2   TEAM_ID               18 non-null     int64
 3   TEAM_ABBREVIATION     18 non-null     object
 4   MAX_GAME_DATE         18 non-null     object
 5   GP                    18 non-null     int64
 6   W                     18 non-null     int64
 7   L                     18 non-null     int64
 8   W_PCT                 18 non-null     float64
 9   MIN                   18 non-null     float64
 10  FGM                   18 non-null     int64
 11  FGA                   18 non-null     int64
 12  FG_PCT                18 non-null     float64
 13  FG3M                  18 non-null     int64
 14  FG3A                  18 non-null     int64
 15  FG3_PCT               18 non-null     float64
 16  FTM                   18 non-null     int64
 17  FTA                   18 non-null     int64
 18  FT_PCT                18 non-null     float64
 19  OREB                  18 non-null     int64
 20  DREB                  18 non-null     int64
 21  REB                   18 non-null     int64
 22  AST                   18 non-null     int64
 23  TOV                   18 non-null     int64
 24  STL                   18 non-null     int64
 25  BLK                   18 non-null     int64
 26  BLKA                  18 non-null     int64
 27  PF                    18 non-null     int64
 28  PFD                   18 non-null     int64
 29  PTS                   18 non-null     int64
 30  PLUS_MINUS            18 non-null     int64
 31  NBA_FANTASY_PTS       18 non-null     float64
 32  DD2                   18 non-null     int64
 33  TD3                   18 non-null     int64
 34  GP_RANK               18 non-null     int64
 35  W_RANK                18 non-null     int64
 36  L_RANK                18 non-null     int64
 37  W_PCT_RANK            18 non-null     int64
 38  MIN_RANK              18 non-null     int64
 39  FGM_RANK              18 non-null     int64
 40  FGA_RANK              18 non-null     int64
 41  FG_PCT_RANK           18 non-null     int64
 42  FG3M_RANK             18 non-null     int64
 43  FG3A_RANK             18 non-null     int64
 44  FG3_PCT_RANK          18 non-null     int64
 45  FTM_RANK              18 non-null     int64
 46  FTA_RANK              18 non-null     int64
 47  FT_PCT_RANK           18 non-null     int64
 48  OREB_RANK             18 non-null     int64
 49  DREB_RANK             18 non-null     int64
 50  REB_RANK              18 non-null     int64
 51  AST_RANK              18 non-null     int64
 52  TOV_RANK              18 non-null     int64
 53  STL_RANK              18 non-null     int64
 54  BLK_RANK              18 non-null     int64
 55  BLKA_RANK             18 non-null     int64
 56  PF_RANK               18 non-null     int64
 57  PFD_RANK              18 non-null     int64
 58  PTS_RANK              18 non-null     int64
 59  PLUS_MINUS_RANK       18 non-null     int64
 60  NBA_FANTASY_PTS_RANK  18 non-null     int64
 61  DD2_RANK              18 non-null     int64
 62  TD3_RANK              18 non-null     int64
 63  CFID                  18 non-null     int64
 64  CFPARAMS              18 non-null     object
dtypes: float64(6), int64(54), object(5)
memory usage: 9.3+ KB

In [32]:
levels=ids[0:5]
levels

[76001, 76002, 76003, 51, 1505]

In [39]:
dfz=[]

for level in levels:
    dfz.append(playerprofilev2.PlayerProfileV2(level).season_totals_regular_season.get_data_frame())

KeyboardInterrupt:

In [47]:
dfz[1462]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76844,1990-91,00,1610612742,DAL,30.0,26,0,168,30,...,0.476,20,30,50,8,2,8,11,33,79

In [48]:
levels=[]
for player in player_dict:
    levels.append(player['id'])
len(levels)

4501

In [133]:
seconds_=levels[1464:]

In [156]:
import time

In [157]:
df3=[]

for level in levels:
    df3.append(playerprofilev2.PlayerProfileV2(level).season_totals_regular_season.get_data_frame())
    time.sleep(.6)

ConnectionError: HTTPSConnectionPool(host='stats.nba.com', port=443): Max retries exceeded with url: /stats/playerprofilev2?LeagueID=&PerMode=Totals&PlayerID=2370 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x00000226908E2610>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond'))

In [155]:
df3[32]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,201582,2008-09,00,1610612766,CHA,21.0,31,4,182,25,...,0.714,9,21,30,3,7,6,12,34,70
1,201582,2009-10,00,1610612766,CHA,22.0,6,0,30,5,...,0.000,1,3,4,0,1,1,2,5,10
2,201582,2010-11,00,1610612742,DAL,23.0,10,2,75,12,...,0.667,5,12,17,2,3,5,1,13,29
3,201582,2010-11,00,1610612761,TOR,23.0,24,0,265,47,...,0.733,12,49,61,8,8,14,17,60,114
4,201582,2010-11,00,0,TOT,23.0,34,2,340,59,...,0.722,17,61,78,10,11,19,18,73,143
5,201582,2013-14,00,1610612740,NOP,26.0,56,30,951,136,...,0.836,94,183,277,40,23,46,63,187,328
6,201582,2014-15,00,1610612740,NOP,27.0,68,8,957,181,...,0.818,104,211,315,47,21,51,69,151,443
7,201582,2015-16,00,1610612740,NOP,28.0,59,17,861,150,...,0.839,75,194,269,31,19,36,54,134,352
8,201582,2016-17,00,1610612740,NOP,29.0,39,15,584,89,...,0.725,46,131,177,12,20,22,31,77,207

In [117]:
dfz[1466]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,97,1988-89,00,1610612738,BOS,24.0,72,0,528,59,...,0.738,47,45,92,42,18,3,36,71,177
1,97,1991-92,00,1610612766,CHH,27.0,3,0,25,2,...,0.600,3,8,11,1,1,1,3,4,10
2,97,1994-95,00,1610612752,NYK,30.0,2,0,8,1,...,0.000,3,2,5,2,0,0,0,2,2
3,97,1995-96,00,1610612748,MIA,31.0,18,3,235,13,...,0.684,14,22,36,10,8,1,11,27,43
4,97,1995-96,00,1610612737,ATL,31.0,4,0,19,2,...,0.000,1,5,6,1,0,0,0,0,4
5,97,1995-96,00,1610612752,NYK,31.0,6,0,57,7,...,0.667,5,8,13,2,4,1,1,4,18
6,97,1995-96,00,0,TOT,31.0,28,3,311,22,...,0.680,20,35,55,13,12,2,12,31,65

In [104]:
df1=dfz[0:1462]

In [173]:
df1[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,1990-91,00,1610612757,POR,23.0,43,0,290,55,...,0.568,27,62,89,12,4,12,22,39,135
1,76001,1991-92,00,1610612757,POR,24.0,71,1,934,178,...,0.752,81,179,260,30,25,16,66,132,432
2,76001,1992-93,00,1610612749,MIL,25.0,12,0,159,26,...,0.750,12,25,37,10,6,4,13,24,64
3,76001,1992-93,00,1610612738,BOS,25.0,63,52,1152,219,...,0.760,114,186,300,17,19,22,84,165,514
4,76001,1992-93,00,0,TOT,25.0,75,52,1311,245,...,0.759,126,211,337,27,25,26,97,189,578
5,76001,1993-94,00,1610612738,BOS,26.0,13,0,159,24,...,0.640,12,34,46,3,2,3,17,20,64
6,76001,1994-95,00,1610612758,SAC,27.0,51,0,476,117,...,0.571,34,72,106,13,15,12,40,102,254
7,76001,1994-95,00,1610612755,PHL,27.0,3,0,30,1,...,0.000,3,5,8,0,0,0,5,2,2
8,76001,1994-95,00,0,TOT,27.0,54,0,506,118,...,0.571,37,77,114,13,15,12,45,104,256

In [ ]:
#for n in range(1, len(loop_season21)):
    dfn = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id = (loop_season21['GAME_ID'][n]))
    dfn2 = dfn.get_data_frames()[1]
    bs_df21 = bs_df21.append(dfn2)

In [160]:
import pickle
import pandas as pd

In [161]:
ggz=pd.concat(df1)

In [164]:
ggz

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,1990-91,00,1610612757,POR,23.0,43,0,290,55,...,0.568,27,62,89,12,4,12,22,39,135
1,76001,1991-92,00,1610612757,POR,24.0,71,1,934,178,...,0.752,81,179,260,30,25,16,66,132,432
2,76001,1992-93,00,1610612749,MIL,25.0,12,0,159,26,...,0.75,12,25,37,10,6,4,13,24,64
3,76001,1992-93,00,1610612738,BOS,25.0,63,52,1152,219,...,0.76,114,186,300,17,19,22,84,165,514
4,76001,1992-93,00,0,TOT,25.0,75,52,1311,245,...,0.759,126,211,337,27,25,26,97,189,578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,1626203,2017-18,00,1610612766,CHA,24.0,63,2,1050,96,...,0.695,42,79,121,59,33,2,27,109,273
2,1626203,2018-19,00,1610612751,BKN,25.0,35,21,715,64,...,0.818,23,84,107,34,13,7,17,68,184
3,1626203,2019-20,00,1610612750,MIN,26.0,33,20,663,62,...,0.73,29,71,100,30,17,2,19,66,171
4,1626203,2019-20,00,1610612737,ATL,26.0,22,0,266,25,...,0.474,22,28,50,15,7,4,10,36,72
5,1626203,2019-20,00,0,TOT,26.0,55,20,929,87,...,0.643,51,99,150,45,24,6,29,102,243

In [167]:
df_1=ggz

In [168]:
df_1.to_pickle('df_1')

In [172]:
df_1.to_csv('firstset.csv')

ImportError: cannot import name 'CompressionOptions' from 'pandas._typing' (C:\Users\JASSI\anaconda3\envs\learn-env\lib\site-packages\pandas\_typing.py)

In [185]:
from nba_api.stats.endpoints import playerawards

In [189]:
playerawards.PlayerAwards(bron_id).player_awards.get_data_frame().head(50)

,PERSON_ID,FIRST_NAME,LAST_NAME,TEAM,DESCRIPTION,ALL_NBA_TEAM_NUMBER,SEASON,MONTH,WEEK,CONFERENCE,TYPE,SUBTYPE1,SUBTYPE2,SUBTYPE3
0,2544,LeBron,James,Cleveland Cavaliers,All-Defensive Team,1,2008-09,None,None,1610612739,Award,Kia Motors,KIADT,None
1,2544,LeBron,James,Cleveland Cavaliers,All-Defensive Team,1,2009-10,None,None,1610612739,Award,Kia Motors,KIADT,None
2,2544,LeBron,James,Miami Heat,All-Defensive Team,1,2010-11,None,None,1610612748,Award,Kia Motors,KIADT,None
3,2544,LeBron,James,Miami Heat,All-Defensive Team,1,2011-12,None,None,1610612748,Award,Kia Motors,KIADT,None
4,2544,LeBron,James,Miami Heat,All-Defensive Team,1,2012-13,None,None,1610612748,Award,Kia Motors,KIADT,None
5,2544,LeBron,James,Miami Heat,All-Defensive Team,2,2013-14,None,None,1610612748,Award,Kia Motors,KIADT,None
6,2544,LeBron,James,Cleveland Cavaliers,All-NBA,2,2004-05,None,None,1610612739,Award,Kia Motors,KIANT,None
7,2544,LeBron,James,Cleveland Cavaliers,All-NBA,1,2005-06,None,None,1610612739,Award,Kia Motors,KIANT,None
8,2544,LeBron,James,Cleveland Cavaliers,All-NBA,2,2006-07,None,None,1610612739,Award,Kia Motors,KIANT,None
9,2544,LeBron,James,Cleveland Cavaliers,All-NBA,1,2007-08,None,None,1610612739,Award,Kia Motors,KIANT,None
10,2544,LeBron,James,Cleveland Cavaliers,All-NBA,1,2008-09,None,None,1610612739,Award,Kia Motors,KIANT,None
11,2544,LeBron,James,Cleveland Cavaliers,All-NBA,1,2009-10,None,None,1610612739,Award,Kia Motors,KIANT,None
12,2544,LeBron,James,Miami Heat,All-NBA,1,2010-11,None,None,1610612748,Award,Kia Motors,KIANT,None
13,2544,LeBron,James,Miami Heat,All-NBA,1,2011-12,None,None,1610612748,Award,Kia Motors,KIANT,None
14,2544,LeBron,James,Miami Heat,All-NBA,1,2012-13,None,None,1610612748,Award,Kia Motors,KIANT,None
15,2544,LeBron,James,Miami Heat,All-NBA,1,2013-14,None,None,1610612748,Award,Kia Motors,KIANT,None
16,2544,LeBron,James,Cleveland Cavaliers,All-NBA,1,2014-15,None,None,1610612739,Award,Kia Motors,KIANT,None
17,2544,LeBron,James,Cleveland Cavaliers,All-NBA,1,2015-16,None,None,East,Award,Kia Motors,KIANT,None
18,2544,LeBron,James,Cleveland Cavaliers,All-NBA,1,2016-17,None,None,East,Award,Kia Motors,KIANT,None
19,2544,LeBron,James,Cleveland Cavaliers,All-NBA,1,2017-18,None,None,East,Award,Kia Motors,KIANT,None
20,2544,LeBron,James,Los Angeles Lakers,All-NBA,3,2018-19,None,None,West,Award,Kia Motors,KIANT,None
21,2544,LeBron,James,Los Angeles Lakers,All-NBA,1,2019-20,None,None,West,Award,Kia Motors,KIANT,None
22,2544,LeBron,James,Los Angeles Lakers,All-NBA,2,2020-21,None,None,West,Award,Kia Motors,KIANT,None
23,2544,LeBron,James,Cleveland Cavaliers,All-Rookie Team,1,2003-04,None,None,1610612739,Award,Kia Motors,KIART,None
24,2544,LeBron,James,Cleveland Cavaliers,NBA All-Star Most Valuable Player,None,2005-06,None,None,None,Award,Kia Motors,KAMVP,None
25,2544,LeBron,James,Cleveland Cavaliers,NBA All-Star Most Valuable Player,None,2007-08,None,None,None,Award,Kia Motors,KAMVP,None
26,2544,LeBron,James,Cleveland Cavaliers,NBA All-Star Most Valuable Player,,2017-18,None,None,,Award,Kia Motors,KAMVP,
27,2544,LeBron,James,Miami Heat,NBA Finals Most Valuable Player,None,2011-12,None,None,None,Award,Kia Motors,KFMVP,None
28,2544,LeBron,James,Miami Heat,NBA Finals Most Valuable Player,None,2012-13,None,None,None,Award,Kia Motors,KFMVP,None
29,2544,LeBron,James,Cleveland Cavaliers,NBA Finals Most Valuable Player,None,2015-16,None,None,None,Award,Kia Motors,KFMVP,None
30,2544,LeBron,James,Los Angeles Lakers,NBA Finals Most Valuable Player,None,2019-20,None,None,None,Award,Kia Motors,KFMVP,None
31,2544,LeBron,James,Cleveland Cavaliers,NBA Most Valuable Player,None,2008-09,None,None,None,Award,Kia Motors,KIMVP,None
32,2544,LeBron,James,Cleveland Cavaliers,NBA Most Valuable Player,None,2009-10,None,None,None,Award,Kia Motors,KIMVP,None
33,2544,LeBron,James,Miami Heat,NBA Most Valuable Player,None,2011-12,None,None,None,Award,Kia Motors,KIMVP,None
34,2544,LeBron,James,Miami Heat,NBA Most Valuable Player,None,2012-13,None,None,None,Award,Kia Motors,KIMVP,None
35,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2004-05,01/01/2005,None,East,Award,Kia Motors,KIPMO,None
36,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2004-05,11/01/2004,None,East,Award,Kia Motors,KIPMO,None
37,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2005-06,03/01/2006,None,East,Award,Kia Motors,KIPMO,None
38,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2005-06,11/01/2005,None,East,Award,Kia Motors,KIPMO,None
39,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2006-07,03/01/2007,None,East,Award,Kia Motors,KIPMO,None
40,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2007-08,01/01/2008,None,East,Award,Kia Motors,KIPMO,None
41,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2007-08,02/01/2008,None,East,Award,Kia Motors,KIPMO,None
42,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2008-09,01/01/2009,None,East,Award,Kia Motors,KIPMO,None
43,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2008-09,03/01/2009,None,East,Award,Kia Motors,KIPMO,None
44,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2008-09,04/01/2009,None,East,Award,Kia Motors,KIPMO,None
45,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2008-09,11/01/2008,None,East,Award,Kia Motors,KIPMO,None
46,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2009-10,01/01/2010,None,East,Award,Kia Motors,KIPMO,None
47,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2009-10,02/01/2010,None,East,Award,Kia Motors,KIPMO,None
48,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2009-10,11/01/2009,None,East,Award,Kia Motors,KIPMO,None
49,2544,LeBron,James,Cleveland Cavaliers,NBA Player of the Month,None,2009-10,12/01/2009,None,East,Award,Kia Motors,KIPMO,None